*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}



.header111{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    display: flex;
   
}

.header 
{
    width: 1450px;
    height: 123px;
    background-color: #ffffff;

}
.container{
    background-color: #ffffff;
}
.pervaya-stroka{
background-color: #ffffff;
}

.button-container 
{
    position: absolute;
    top: 16px;

}
  


.information-button-container
{
margin-left: 500px;
}

.information-button 
{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    border: none; 
    background-color: white;
    color: #666F78;
    font-family: 'Roboto', sans-serif;
}

.dot-container 
{
    margin-left: 758px;
    margin-top: -55px;
}

.dot-container p
{
    font-weight: 500;
    color: #666F78;
    font-size: 14px;
}

.my-cabinet-button-container 
{
margin-left: 770px;
margin-top: -46px;
}

.phone-number
{
    margin-left: 1090px;
    margin-top: -60px;
}

.phone-number p
{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.recall
{
    margin-left: 880px;
  margin-top: 50px;
}

.recall p
{
    font-weight: 500;
    color: #2E4555;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 600px;

}

.viber
{
    margin-left: 1375px;
    margin-top: -50px;
}

.telegramm
{
    margin-left: 1450px;
    margin-top: -65px;
}

.image-container
{
    position: absolute;
    top: 30px;
    
}

.text-button-container 
{
    text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: row;

}

.text-button-containerrr{
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.text-button11{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-right: 100px;
}

.text-button22{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-right: 100px;
    margin-top: 22px;
    text-decoration: none;
}

.text-button33{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-right: 100px;
    margin-top: 22px;
    text-decoration: none;
}

.text-button44{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-right: 100px;
}

.text-button55{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-right: 100px;
}

.text-button66{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-right: 100px;
}
.text-button77{
    padding: 8px;
    height: 48px;
    margin-bottom: 8px; 
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none; 
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 22px;
    text-decoration: none;
}








.zagolovok{
    padding: 84px 156px 30px 150px;
      
}

.Talk{
    font-size: 48px;
    font-weight: bold;
    color: #2E4555;
}

.exkyrsia{
    margin-top: 35px;
}
.two_zag{
    font-size: 24px;
}

.forest_f{
    min-width: 1620px;
    height: 760px;
}
.forest{
    margin-left: 150px;
}




.circleDrow{
    height: 575px;
}
.circle{
    margin-left: 202px;
    margin-top: 133px;
}
.block{
    display: flex;
    flex-direction: row;
}
.morning{
    margin-top: 133px;
    margin-left: 40px;
}
.departure, .city, .fabric, .walk{
    font-size: 24px;
    font-weight: bold;
    color: #2E4555;
}
.city_sis{
    margin-top: 37px;
}
.excursion{
    margin-top: 56px;
}
.park{
    margin-top: 40px;
}
.end{
    margin-top: 50px;
}
.arrival{
    margin-top: 45px;
}

.text_one{
    width: 663px;
    height: 224px;
    
}
.textBlock{
    padding: 120px 150px ;
}
.oneDay{
    font-size: 24px;
    color: #2E4555;
    font-family: 'Roboto', sans-serif;
}


.trees, .mug, .lake{
    width: 253px;
    height: 322px;
}

.mug, .lake{
    padding-left: 20px;
}

.cost{
    margin-top: 40px;
}
.costs{
    font-size: 24px;
    font-weight: bold;
    color: #2E4555;
}
.adult, .children{
    font-size: 24px;
    color: #2E4555;
}

.cost_chanda{
    display: flex;
    justify-content: space-between;
}
.cost,
.rybli {
  display: flex;
  flex-direction: column;
  
}

.rybli {
    margin-top: 63px;
}
.two_r, .ch_two{
    font-size: 24px;
    color: #2E4555;
}
.bron{
    margin-top: 74px;
}
.zabronirovat{
    border-radius: 65px;
    width: 253px;
    height: 50px;
    background-color: #E6641B;
}
.text_bron{
    font-size: 24px;
    color: #FFFFFF;
}




.vse-vmeste3{
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-color: #2D64A1;
    margin-top: 250px;
    height: 409px;
}
.krugosv{
    padding-right: 230px;
    padding-left: 60px;
}
.o-kamp{
    padding-right: 120px;
    margin-left: -80px;
}
.uslugii{
    padding-right: 130px;
}
.Projivanie{
    padding-right: 120px;
}
.sasf{
padding-right: 20px;
}
.afas{
    padding-right: 20px;
}
.o-nas-footer{
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    text-transform: none;
    margin-bottom: 23px;
}
.o-nas-footerr{
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    text-transform: none;
    margin-top: 23px;
}
.fla{
    color: #2D64A1;
}



.big-pelmen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
color: #2E4555;
margin-left: -880px;
}

.muzey-pelmenya{
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
.pelmm{
    width: 1500px;
    height: 790px;
}
.dva-pelmenya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: -900px;
}
.pervypelm2{
    margin-top: 50px;
}
.pelm-text1{
    display: flex;
    justify-content: center;
    margin-top: -870px;
    margin-left: 600px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.pelm-text2{
    display: flex;
    justify-content: center;
    margin-top: 180px;
    margin-left: 600px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.pelmm-text1{
    color: #2E4555;
    font-size: 24px;
}
.pelmm-text2{
    color: #2E4555;
    font-size: 24px;
}
.blok-pelmensky{
    margin-top: -100px;
    margin-bottom: 270px;
}
.nas, .stat{
    margin-bottom: 27px;
}